.kunskap-title {
  position: relative;
  top: 75px; }

.widget_ess_grid .widgettitle {
  font-size: 50px;
  float: left; }

.esg-filters .eg-search-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  /*margin-bottom: 50px;*/ }
  .esg-filters .eg-search-wrapper .eg-search-input {
    padding-left: 50px;
    font-family: Roboto;
    font-size: 17px;
    height: 50px;
    border: 1px solid #EBEBEB;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161); }
  .esg-filters .eg-search-wrapper .eg-search-submit {
    position: absolute;
    left: 15px;
    color: #707070;
    top: 5px; }
  .esg-filters .eg-search-wrapper .eg-search-clean {
    position: absolute;
    left: 0;
    display: none; }

.esg-filters .esg-filter-wrapper .esg-filterbutton {
  border-radius: 0px;
  border: none;
  font-size: 20px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  color: #2F2F2F;
  max-width: 168px;
  width: 100%;
  margin-right: 15px;
  text-align: center;
  height: 118px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  opacity: 0.6;
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.9s ease-in-out;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-width: 0px;
  border: solid 0px #707070;
  transition: border-width 0.5s linear; }
  .esg-filters .esg-filter-wrapper .esg-filterbutton:hover {
    box-shadow: none;
    /*-moz-box-shadow:    0px 2px 4px rgba(0, 0, 0, 0.2);
				-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
				-webkit-transform: scale(1.04, 1.04);
    			transform: scale(1.04, 1.04);

    			transition: border-width 0.6s linear;
    			opacity: 1;

    			 border-width: 1px;*/ }
  .esg-filters .esg-filter-wrapper .esg-filterbutton:nth-of-type(6) {
    margin-right: 0; }
  .esg-filters .esg-filter-wrapper .esg-filterbutton .esg-filter-checked {
    opacity: 0; }

.esg-filters .esg-filter-wrapper .esg-filterbutton.selected {
  opacity: 1;
  border: 1px solid #707070;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /*-webkit-transform: scale(1.04, 1.04);
			transform: scale(1.04, 1.04);*/ }

.esgrid-wrapper p {
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: 700;
  color: #4D4D4D; }
  .esgrid-wrapper p a {
    color: #4D4D4D; }

.esg-grid .mainul {
  margin-top: 60px; }
  .esg-grid .mainul li.eg-sistaraden-wrapper .esg-media-cover-wrapper:before {
    content: "";
    height: 6px;
    width: 100%;
    background: #000;
    position: absolute;
    z-index: 999999;
    top: -30px; }

.esg-grid .esg-filters:nth-of-type(2) .esg-allfilter {
  display: none; }

.esg-grid .eg-sistaraden-content,
.esg-grid .eg-landing-page-sistaraden-content {
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161); }

.esg-grid .no-filter-message {
  bottom: -68px; }

/* Single Post */
.sr-single-post-info-con .esgrid-meta-text {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: Roboto Condensed;
  font-weight: normal; }

.sr-single-post-info-con .esgrid-tag-text,
.sr-single-post-info-con .esgrid-tag-text a {
  color: #C7C7C7;
  font-family: Roboto Condensed;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal; }

.single-post .fl-content {
  margin-top: 0; }

.single-post .fl-row-bg-photo .fl-row-content-wrap {
  position: relative;
  z-index: 2; }

.single-post .sr-single-post-wrapper .fl-row-content-wrap {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
  z-index: 2; }

.single-post-stripe {
  position: relative; }
  .single-post-stripe:after {
    content: "";
    background: url(../images/dstripe/hero-stripe.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: absolute;
    height: 175px;
    max-width: 184px;
    width: 100%; }

.single-post-stripe.single-post-stripe-right:after {
  right: -72px;
  bottom: -96px; }

.single-post-stripe-left-photo {
  position: relative; }
  .single-post-stripe-left-photo .fl-photo-content:after {
    content: "";
    background: url(../images/dstripe/post-stripe.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: absolute;
    height: 175px;
    max-width: 184px;
    width: 100%;
    bottom: -53px;
    left: -72px;
    z-index: -1; }

/*

.eg-sistaraden-content .eg-sistaraden-element-0-a a:before,
.eg-landing-page-sistaraden-content .eg-landing-page-sistaraden-element-0-a a:before {
	max-width: 100%;
	width: 64px;

}

*/
.eg-sistaraden-content .eg-sistaraden-element-0-a a,
.eg-landing-page-sistaraden-content .eg-landing-page-sistaraden-element-0-a a {
  width: 100%;
  border-bottom: 3px solid #000;
  position: absolute;
  z-index: 999999;
  bottom: -10px;
  padding-bottom: 3px;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.2s;
  transition-property: width;
  transition-duration: 0.2s; }

.esg-grid .mainul li.eg-sistaraden-wrapper:after,
.esg-grid .mainul li.eg-landing-page-sistaraden-wrapper:after {
  content: "";
  background: url(../images/dstripe/small-green-stripe.png) repeat scroll 0 0 transparent;
  opacity: 0;
  position: absolute;
  width: 119px;
  height: 81px;
  right: -30px;
  bottom: -26px;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -moz-transition: opacity 1;
  -o-transition: opacity 1s;
  background-size: cover; }

.esg-grid .mainul li.eg-sistaraden-wrapper:hover:after,
.esg-grid .mainul li.eg-landing-page-sistaraden-wrapper:hover:after {
  opacity: 1; }

/* Custom Media Width and Height */
.eg-sistaraden-content a:focus,
.eg-landing-page-sistaraden-content a:focus {
  color: inherit; }

.eg-sistaraden-content .eg-sistaraden-element-0-a a,
.eg-landing-page-sistaraden-content .eg-landing-page-sistaraden-element-0-a a {
  position: relative; }

.esg-entry-media-wrapper, .esg-entry-cover {
  /*max-width: 260px;
 width: 100%;
	max-height: 178px !important;*/ }

.esg-overflowtrick {
  overflow: visible !important; }

.eg-sistaraden-content,
.eg-landing-page-sistaraden-content {
  min-height: 230px !important; }

@media screen and (max-width: 768px) {
  .single-post-stripe.single-post-stripe-right:after {
    right: 0; }
  .single-post-stripe-left-photo .fl-photo-content:after {
    bottom: 0; }
  .single-post-stripe.single-post-stripe-right:after {
    right: 0;
    width: 500px;
    max-width: 100%;
    bottom: -345px;
    background-repeat: repeat;
    background-size: cover; }
  .single-post .fl-page-content {
    overflow: hidden; }
  .sr-single-post-wrapper .fl-row-content-wrap {
    min-height: 300px; } }
