.subscription-form .fl-form-field input[type="email"] {
  height: 3.5rem;
  box-shadow: 0px 2px 4px #00000029; }

.subscription-form .fl-form-button a.fl-button {
  height: 3.625rem; }

.subscription-form .fl-form-button span.fl-button-text {
  vertical-align: sub; }

.visiting-address h2.fl-heading > span {
  background: #FFFFFF;
  padding: 20px 60px; }

@media screen and (max-width: 959px) {
  .visiting-address {
    background: #FFFFFF;
    padding: 40px 20px; }
    .visiting-address h2.fl-heading > span {
      background: transparent;
      padding: unset !important; } }
