.pricing-column-wrapper .pricing-column-con > .fl-node-content .fl-col-group {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.pricing-column-wrapper .pricing-column-con:nth-child(1) {
  position: relative; }
  .pricing-column-wrapper .pricing-column-con:nth-child(1):after {
    content: "";
    background: url(../images/dstripe/dstripe-pink.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: absolute;
    height: 296px;
    max-width: 636px;
    width: 100%;
    top: 140px;
    left: -65px; }

.pricing-column-wrapper .pricing-column-con:nth-child(2):after {
  content: "";
  background: url(../images/dstripe/dstripe-green.png) no-repeat scroll 0 0 transparent;
  background-size: contain;
  position: absolute;
  height: 296px;
  max-width: 636px;
  width: 100%;
  bottom: -52px;
  left: -45px; }

.custom-made-wrapper .custom-made-con {
  position: relative; }
  .custom-made-wrapper .custom-made-con:after {
    content: "";
    background: url(../images/dstripe/dstripe-purple.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: absolute;
    height: 120px;
    max-width: 456px;
    width: 100%;
    bottom: -40px;
    left: -65px; }

.btn-border-bottom .fl-button-wrap {
  border-bottom: 2px solid #000001;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px; }
