// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  lp: 1441px
);


// Get the small breakpoint.
$breakpoint: map-get($breakpoints, sm);


// Respond above.
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Start CSS

@include respond-below(lp) {

	#sr-header-con {

		.fl-module-menu {

			#menu-main-menu {

		
				a {
					padding-left: 12px;
					padding-right: 12px;
				}

			

			} 

		}

	
		a.fl-button {
			padding-left: 12px;
			padding-right: 12px;
		}

	}



}

@include respond-below(xs) {

  .blue-stripe { 


    &:before {
         bottom: 36px;
        height: 192px;
        width: 500px;
        left: -23px;

    }
    
  }

  .pricing-column-wrapper {

     .pricing-column-con:nth-child(1) {

          &:after {
              width: 500px;
          }


     }

     .pricing-column-con:nth-child(2) {

          &:after {
          z-index: -1;
            width: 247px;
            right: -10px;
            left: inherit;
            bottom: 690px;
            

          }

     }


  }

  .page-id-409 {

    .fl-page-content {
        overflow: hidden;
    }

  }

  body {

    .esg-filters {

      .esg-filter-wrapper {

        .esg-filterbutton {
            max-width: 140px;
            margin-bottom: 26px;
          }
      }

    }
    
  }


}




