// A map of breakpoints.
$breakpoints: (
  ss: 321px,
  su: 376px,
  s: 426px,
  xs: 576px,
  sm: 769px,
  md: 992px,
  l: 1025px,
  lg: 1200px,
  lh: 1281px,
  lp: 1441px
);


// Get the small breakpoint.
$breakpoint: map-get($breakpoints, sm);


// Respond above.
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Start CSS




@include respond-below(lp) {

	#sr-header-con {

		.fl-module-menu {

			#menu-main-menu {


				a {
					padding-left: 10px;
					padding-right: 10px;
				}
			}

      #menu-main-menu-de {
        a {
            padding-left: 15px;
            padding-right: 15px;
        }
      }

      #menu-main-menu-en {
        a {
            padding-left: 10px;
            padding-right: 10px;
        }
      }

		}


		a.fl-button {
			padding-left: 12px;
			padding-right: 12px;
		}

	}

  #s-footer-con {

    .footer-last {
      width: 36% !important;
    }

    .footer-second-last {
          width: 17% !important;
    }

  }


}

@include respond-below(lh) {

    #s-footer-con {

        .fl-row-content-wrap {
            padding-right: 160px !important;
            padding-left: 160px !important;
        }


  }

}


@include respond-below(l) {

  body {

    #sr-header-con {

      .fl-module-menu {

         #menu-main-menu,
         #menu-main-menu-de,
         #menu-main-menu-en {

            a {
              padding-left: 8px;
              padding-right: 8px;
              font-size: 13px;
            }

         }

      }


      .header-german-button,
      .header-english-button {

        a.fl-button {

          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px;

        }

      }


    }

    #sr-parallax-section {
      .sr-parallax-content {
          position: relative;
          left: 5%;
          width: 90% !important;
      }
    }


    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
      top: -8px;
    }

  }

  body .home-tool-section-con h5.fl-heading {
    min-height: 44px;
  }

  body .home-tool-section-con .fl-module.fl-module-heading:nth-child(1) {
    min-height: 85px;
  }

  .home-tool-section-con .fl-col .fl-col-content .fl-module-image-icon {
    min-height: 80px;
  }

  .home-tool-section-con .fl-col-content.fl-node-content {
    min-height: 220px;
  }

   #s-footer-con {

    .footer-last {
      width: 31% !important;
    }

    .footer-second-last {
          width: 22% !important;
    }

  }

  #sr-mobile-menu {

    width: 100%;
    z-index: 99;
     position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    background: #fff;
        z-index: 99999;
  }

  #cookie-consent-banner {
    .cookieconsent {
      .buttons {
        margin-top: 28px;
      }
    }
  }

  #menu-language-switcher a.wpml-ls-item-toggle:after, #menu-language-switcher-de a.wpml-ls-item-toggle:after, #menu-language-switcher-en a.wpml-ls-item-toggle:after, .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        font-family: "Font Awesome 5 Free";
        content: "\f078";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        border: 0px;
        position: absolute;
        top: calc(50% - 0.75em);
        left: 67px;
        color: #ffffff;
        font-size: 25px;
    }

}

@include respond-below(sm) {

  .kunskap-title  {
    top: 0;
  }

  .about-us-card {
      width: 263px;
      margin-left: auto;
      margin-right: auto;
  }

  #sr-parallax-section {

    .sr-parallax-content {
        position: relative;
        left: 0;
        width: 90% !important;

        .sr-parallax-content-col {

          .fl-col-content {
              max-width: 552px;
              margin-left: auto;
              margin-right: auto;
          }


          &:after {
              content: "";
              background: url(/wp-content/uploads/2019/06/hero-stripe.png) no-repeat scroll 0 0 transparent;
              background-size: contain;
              position: absolute;
              height: 229px;
              max-width: 356px;
              width: 100%;
              top: -30px;
              left: 0;
              z-index: -1;
          }

        }

    }

  }

  .fl-builder-content {

    .sr-footer-con {

      .footer-col-1 {
        clear: none;
        width: 40% !important;
      }

      .footer-col-2 {
        clear: none;
        float: left;
      }

    }

  }

  ul#menu-footer-menu, ul#menu-footer-menu-de, ul#menu-footer-menu-en {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 10%;
    margin-top: 20px;
  }

  #menu-footer-menu li, #menu-footer-menu-de li, #menu-footer-menu-en li {
    flex-basis: 50%;
    text-transform: uppercase;
  }

  .blue-stripe:before {
    bottom: 0;
  }

  .single-post-stripe.single-post-stripe-right:after {
      width: 100%;
      bottom: -275px;
  }

  #sr-mobile-menu {

    width: 100%;
    z-index: 99;
     position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    background: #fff;
        z-index: 99999;
  }

  #sr-mobile-menu.nav-down {

  }

  #sr-mobile-menu.nav-up {
    top: -209px;
  }

  body .fl-page-content {
      padding-top: 100px;
  }


  .home-tool-section-con .fl-col-content.fl-node-content {
    min-height: 210px;
  }



  #s-footer-con .footer-second-last {

       width: inherit !important;
  }

  #s-footer-con .footer-last {
       width: inherit !important;
  }

  #s-footer-con .fl-row-content-wrap {
    padding-right: inherit !important;
    padding-left: inherit !important;
  }


}

@include respond-below(xs) {

  .fl-builder-content {

      .sr-footer-con {

        .footer-col-1 {

          width: 100% !important;
        }

        .footer-col-2 {
          clear: none;
          float: left;
        }

      }

  }

  .blue-stripe {


    &:before {
         bottom: 36px;
        height: 192px;
        width: 500px;
        left: -23px;

    }

  }

  .pricing-column-wrapper {

     .pricing-column-con:nth-child(1) {

          &:after {
              width: 500px;
          }


     }

     .pricing-column-con:nth-child(2) {

          &:after {
          z-index: -1;
            width: 247px;
            right: -10px;
            left: inherit;
            bottom: 690px;


          }

     }


  }

  body .home-tool-section-con .fl-heading {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .home-tool-section-con .fl-col-content.fl-node-content {
    min-height: 220px;
  }

  .swedish-language .home-tool-section-con .fl-col-content.fl-node-content {
    min-height: 220px;
  }


}

@include respond-below(s) {

  .sr-contact-address-section {
    > .fl-row-content-wrap {
        padding-top: 20px;
        padding-right: 0px !important;
        padding-bottom: 20px;
        padding-left: 0px !important;
    }
  }

    .subscription-form {

      .fl-form-button {

          a {
              &.fl-button {
                height: 3.625rem;
                width: 172px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 18px;
              }

            }
      }
    }

    .about-us-card {
        height: 334px;
        overflow: visible;
        position: relative;

        .about-us-card-labels {
            text-align: right;
            position: absolute;
            max-width: 241px;
            right: 5%;
            top: 60%;
            color: #F4F7F6;
            font-family: Roboto Condensed, sans-serif;
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 1.25;
        }

        .hover-overlay {
            opacity: 1;
            transition: .5s ease;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

    }

    .blue-stripe{

      &.blue-stripe-custom{

        &:before {
            bottom: -20px;
            width: 100vw;
            left: -23px;
            position: absolute;
        }

        .fl-photo-content {

          img{
              position: relative;
              bottom: 0;
          }

        }

      }

    }

    #sr-parallax-section {

      .sr-parallax-content{
          position: initial;
          width: 90% !important;

          .sr-parallax-content-col{

            &:after {
                content: "";
                background: url(/wp-content/uploads/2019/06/hero-stripe.png) no-repeat scroll 0 0 transparent;
                background-size: contain;
                position: absolute;
                height: 298px;
                max-width: 320px;
                width: 100%;
                top: -30px;
                left: -100px;
                z-index: -1;
            }

          }

      }

    }

    .wpml-ls-legacy-dropdown {

      li {

        a {

          img {
              max-width: 38.5px;
              height: auto;
              max-height: unset;
          }

        }

      }

    }

    #menu-language-switcher a.wpml-ls-item-toggle:after, #menu-language-switcher-de a.wpml-ls-item-toggle:after, #menu-language-switcher-en a.wpml-ls-item-toggle:after, .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        font-family: "Font Awesome 5 Free";
        content: "\f078";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        border: 0px;
        position: absolute;
        top: calc(50% - 0.75em);
        left: 67px;
        color: #ffffff;
        font-size: 25px;
    }

    .black-stripe {

        .fl-row-fixed-width{

            &:before {
              content: "";
              background: url(/wp-content/themes/bb-theme-child/svg/dstripe/home-stripes.svg) repeat scroll 0 0 transparent;
              background-size: cover;
              position: absolute;
              width: 100%;
              height: 660px;
              z-index: 1;
              top: 1460px;
            }

        }

    }

  .page-id-409 {

    .fl-page-content {
        overflow: hidden;
    }

  }

  body {

    .esg-filters {

      .esg-filter-wrapper {

        .esg-filterbutton {
            max-width: 140px;
            margin-bottom: 26px;
          }
      }

    }

    .green-stripe{

        &.green-stripe-center{

          &:before {
            height: 217px;
            max-width: 100%;
            width: 500px;
            left: -25px;
            margin-left: 0;
          }

          &.green-stripe-responsive-425{

              &:before{
                  max-width: 100%;
                  width: 80vw;
                  height: 60vw;
                  bottom: -20px;
                  left: 15px;
                  margin-left: 0;
              }
          }

        }
    }

  }

  .single,
  .page-child {
    .fl-module-content.fl-node-content {
      z-index: 9999;
      position: relative;
    }

  }

  #cookie-consent-banner {

    .cookieconsent {

      p {
        font-size: 1rem;
      }


     .buttons {
        text-align: center;
        padding: 0px;
        margin-top: 27px;
        margin-left: auto;
        margin-right: auto;
      }

      button{
        &.primary-btn{
          &.yes-btn{
              font-size: 1rem;
              padding: 10px;
          }
        }
      }

      .container{
          &.cookie-consent-container {
            padding-top: 20px;
            padding-bottom: 20px;
          }
      }

    }
  }


  body .home-tool-section-con h5.fl-heading {
        padding: 0 5px !important;
  }


}

@include respond-below(ss) {

    .about-us-card {

        .about-us-card-labels {
          text-align: right;
          position: absolute;
          max-width: 100vw;
          right: 10px;
          top: 45%;
          color: #F4F7F6;
          font-family: Roboto Condensed, sans-serif;
          font-weight: 500;
          font-size: 1.75rem;
          line-height: 1.25;

          .about-us-card-label {
              font-size: 32px;
              text-transform: uppercase;
          }


          .about-us-card-title {
              font-size: 22px;
          }

      }


      .hover-overlay {
          opacity: 1;
          transition: .5s ease;
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
      }

    }

    #sr-parallax-section {

      .sr-parallax-content {

        .sr-prallax-content-heading-col {
            position: initial;
        }

      }

    }

    #sr-parallax-section {

      .sr-parallax-content {

        .sr-prallax-content-heading-col {
            position: initial;
        }

      }

    }


}

@include respond-below(su) {

  #sr-mobile-menu.nav-up {
      top: -415px;
  }

}

