
.red-stripe {
	
	position: relative;

	&:before {
		content: "";
		background: url(#{$images_dir:}/dstripe/red-stripe-center.png) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;
	 
	}
	
}
.red-stripe.red-stripe-diagonal {
	&:before {
		background: url(#{$images_dir:}/dstripe/red-stripe-diagonal.png) repeat scroll 0 0 transparent;
		height: 217px;
	    width: 333px;
	    left: -30px;
	    top: -20px
	}
}


.red-stripe.red-stripe-center {

	&:before {

	   	height: 404px;
	    width: 378px;
	    left: 50%;
    	margin-left: -195px;
	}
}

.red-stripe.red-stripe-left {
	&:before {

		height: 217px;
	    width: 333px;
	    left: 10px;
	    top: 50%;
	    margin-top: -110px;
    	
	}
}


.green-stripe {
	
	position: relative;

	&:before {
		content: "";
		background: url(#{$images_dir:}/dstripe/green-stripe-center.png) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;
	 
	}
	
}
.green-stripe.green-stripe-diagonal {
	&:before {
		background: url(#{$images_dir:}/dstripe/green-stripe-diagonal.png) repeat scroll 0 0 transparent;
		height: 217px;
	    width: 333px;
	    left: -30px;
	    top: -20px
	}
}


.green-stripe.green-stripe-center {

	&:before {

	   	height: 404px;
	    width: 378px;
	    left: 50%;
    	margin-left: -195px;
	}
}

.green-stripe.green-stripe-left {
	&:before {

		height: 217px;
	    width: 333px;
	    left: 10px;
	    top: 50%;
	    margin-top: -110px;
    	
	}
}

.blue-stripe {
	
	position: relative;

	&:before {
		content: "";
		background: url(#{$svg_dir}/dstripe/dstripe-home01.svg) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;
	    height: 333px;
	   	max-width: 456px;
	    width: 100%;
	    bottom: -30px;
	    left: 0;
	}
	
}


.blue-stripe-3 {
	
	background-color: #D8E5E8;
		
	.fl-row-fixed-width {

		position: relative;

		&:before {
				content: "";
				background: url(#{$svg_dir}/dstripe/dstripe-home03.svg) repeat scroll 0 0 transparent;
				background-size: cover;
			    position: absolute;
			    width: 100%;
			    height: 660px;
				z-index: 1;
	    		top: 256px;
	    }
    }

}

.sr-heading-bg {
	
	.fl-heading {

		.fl-heading-text {
			background: #D8E5E8;
			/*padding: 10px 20px;*/
		}
		
	}
	
}

.fl-col, 
.fl-col-content, 
.fl-module,
.fl-col-group   {
	z-index: 2;
	position: relative;
}