
.red-stripe {

	position: relative;

	&:before {
		content: "";
		background: url(#{$images_dir:}/dstripe/red-stripe-center.png) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;

	}

}
.red-stripe.red-stripe-diagonal {
	&:before {
		background: url(#{$images_dir:}/dstripe/red-stripe-diagonal.png) repeat scroll 0 0 transparent;
		height: 217px;
	    max-width: 333px;
	    width: 100%;
	    left: -30px;
	    top: -20px
	}
}


.red-stripe.red-stripe-center {

	&:before {

	   	height: 404px;
	    max-width: 378px;
	    width: 100%;
	    left: 50%;
    	margin-left: -195px;
	}
}

.red-stripe.red-stripe-left {
	&:before {

		height: 217px;
	    max-width: 333px;
	    width: 100%;
	    left: 10px;
	    top: 50%;
	    margin-top: -110px;

	}
}


.green-stripe {

	position: relative;

	&:before {
		content: "";
		background: url(#{$images_dir:}/dstripe/green-stripe-center.png) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;

	}

}
.green-stripe.green-stripe-diagonal {
	&:before {
		background: url(#{$images_dir:}/dstripe/green-stripe-diagonal.png) repeat scroll 0 0 transparent;
		height: 217px;
	    max-width: 333px;
	    width: 100%;
	    left: -30px;
	    top: -20px
	}
}


.green-stripe.green-stripe-center {

	&:before {

	   	height: 404px;
	    max-width: 378px;
	    width: 100%;
	    left: 50%;
    	margin-left: -195px;
	}
}

.green-stripe.green-stripe-left {
	&:before {

		height: 217px;
	    max-width: 333px;
	    width: 100%;
	    left: 10px;
	    top: 50%;
	    margin-top: -110px;

	}
}

.blue-stripe {

	position: relative;

	&:before {
		content: "";
		background: url(#{$svg_dir}/dstripe/dstripe-home01.svg) repeat scroll 0 0 transparent;
		background-size: cover;
	    position: absolute;
	    height: 333px;
	    width: 100%;
	   	max-width: 456px;
	    width: 100%;
	    bottom: -55px;
	    left: 0;
	}

}


.blue-stripe-3 {

	background-color: #D8E5E8;

	.fl-row-fixed-width {

		position: relative;

		&:before {
				content: "";
				background: url(#{$svg_dir}/dstripe/dstripe-home03.svg) repeat scroll 0 0 transparent;
				background-size: cover;
			    position: absolute;
			    width: 100%;
			    height: 660px;
				z-index: 1;
	    		top: 256px;
	    }
    }

}

.sr-heading-bg {

	.fl-heading {

		.fl-heading-text {
			background: #D8E5E8;
			/*padding: 10px 20px;*/
		}

	}

}

.fl-col,
.fl-col-content,
.fl-module,
.fl-col-group   {
	z-index: 2;
	position: relative;
}

#menu-language-switcher,
#menu-language-switcher-de,
#menu-language-switcher-en,
.wpml-ls-legacy-dropdown {

	li a {
		border: none;
    	display: inline-block;
	}

	li.menu-item a img,
	li a img {
		width: 40px;
		height: auto;
		max-height: unset;
	}

	li.wpml-ls-current-language .fl-has-submenu-container::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f078";
		margin-left: 15px;
		position: absolute;
		top: 30%;
		left: 80%;
	}

	.sub-menu {
		min-width: 100px;
		text-align: center;
	}
}