#menu-footer-menu {
	li {
	  a {
		width: fit-content;
		margin-left: auto;
	  }
	}
}

.footer-col-1 {
	.footer-link {
		.fl-button{
		    width: fit-content;
		    margin-right: auto;
		}

		a{
		 	&:hover{
		 		span{
		 			&:after{
		 				width: 100%;
    					transition: width 0.2s;
		 			}
		 		}
		 	}

		 	span {
                &:after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 3px;
                    background: #fff;
                    transition: width 0.4s;
                    margin-top: 4px;
                }
            }
		}

	}
}
.footer-col-2 {

    .footer-link {
        .fl-button{
            width: fit-content;
            margin-right: auto;
        }

        a{
            &:hover{
                span{
                    &:after{
                        width: 100%;
                        transition: width 0.2s;
                    }
                }
            }

            span {
                &:after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 3px;
                    background: #fff;
                    transition: width 0.4s;
                    margin-top: 4px;
                }
            }
        }

    }
    

	&.footer-second-last {
		ul {
			li {
				a {

					width: fit-content !important;
    				margin-left: auto;

					&:hover {
						&:after {
							width: 100%;
    						transition: width 0.2s;
						}
					}

					&:after{
						content: "";
					    display: block;
					    width: 0;
					    height: 3px;
					    background: #fff;
					    transition: width 0.4s;
					    margin-top: 4px;
					}
				}
			}
		}
	}

	.fl-button{
		width: fit-content !important;
    	margin-right: auto;
	}
}

.footer-last {
	.email-link {
		width: fit-content !important;
    	margin-right: auto;
    	margin-left: auto;

		&:hover {
			&:after {
				width: 100%;
    			transition: width 0.2s;
			}
		}

		&:after{
			content: "";
		    display: block;
		    width: 0;
		    height: 3px;
		    background: #fff;
		    transition: width 0.4s;
		    margin-top: 4px;
		}
	}
}
.sr-privacy-policy-section {
	a {
		span {
			&:hover {
				&:after {
					width: 100%;
    				transition: width 0.2s;
				}
			}

			&:after{
				content: "";
			    display: block;
			    width: 0;
			    height: 3px;
			    background: #fff;
			    transition: width 0.4s;
			    margin-top: 4px;
			}
		}
	}
}

#cookie-consent-container{
    display:none;
}

#cookie-consent-banner {

    .cookieconsent {
        color: #fff;
        text-align: center;
        position: fixed;
        bottom: 0;
        z-index: 99;
        right: 0;
        left: 0;
        background-color: #3A5048;
        max-height: 217px;
        z-index: 99999;

        .container{

            &.cookie-consent-container{
                padding-top: 40px;
                padding-bottom: 40px;
                max-height: 217px;

                .row{
                    margin: 0px
                }

            }

        }

        .buttons {
            text-align: center;
            padding: 0px;
            margin-top: 54px;
            margin-left: auto;
            margin-right: auto;
        }

        p{
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 26px;
            text-align: center;
            padding: 0;
            margin: 0;
            margin-left: auto;
            margin-right: auto;

            a{
                font-family: Roboto, sans-serif;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 26px;
                color: #ffffff;
            }

        }

        button{

            &.primary-btn{

                &.yes-btn {
                    font-family: Roboto Condensed, sans-serif;
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 24px;
                    background-color: #1D121B;
                    border-color: #1D121B;
                    border-radius: 0;
                    color: #ffffff;
                    padding: 15px 30px;
                }

            }


            &.secondary-btn{
                &.no-btn {
                    font-family: Roboto, sans-serif;
                    font-weight: 500;
                    font-size: 1.125rem;
                    line-height: 29.3px;
                    background: none;
                    border: none;
                    color: #f5f5f5;
                    text-decoration: underline;
                    border-radius: 0;
                    margin: 0px;
                    margin-left: 50px;
                    padding: 0;
                    font-size: 15px;
                }
            }

        }

    }
}


.fl-builder-content {

    .footer-link {

        .fl-button-wrap {

            a {

                display: inline-block;

            }

        }

    }

}