.sr-menu-con.fl-menu-mobile-clone {

	.fl-module-content  {
		margin: 0 !important;

		.fl-menu {

			padding: 25px 0;

			background-color: rgba(10,10,10,0.75);

			li {
				a {
					color: #fff;
					-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: #fff;
					font-weight: normal;
					padding: 15px;
					line-height: 1.2;
				}

			}

			a.fl-button {
				border: none;
			}



		}


	}

}

#sr-mobile-menu {

	.sr-mobile-menu-overlay{
	    display:none;
	    position: absolute;
	    top: 0;
	    background-color: #fff;
	    z-index: 100000;
	    width: 100% !important;
	}

	.bg-chat_mobile_nav {
	    width: 56px; height: 48px;
	    background: url(#{$images_dir}/mobile_css_sprites.png) -10px -10px;
	    display: block;
	}


	.bg-close_hamburger {
	    width: 32px; height: 32px;
	    background: url(#{$images_dir}/mobile_css_sprites.png) -86px -10px;
	    display: block;
	}
	
}

.sr-mobile-menu-toggle {
	img {
		width: 45px;
	}
}

#menu-main-menu,
#menu-main-menu-de,
#menu-main-menu-en {

	li {

		a {

			&:after {
				content: "";
				display: block;
				width: 0;
				height: 3px;
				background: #0a0a0a;
				transition: width 0.4s;
				margin-top: 4px
			}

			&:hover {

				&:after {
					width: 100%;
					transition: width 0.2s;
				}

			}

		}

	}

	.current-menu-item {
		a {
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 3px;
				background: #0a0a0a;
				transition: width 0.4s;
				margin-top: 4px;
				width: 100%;
			}
		}
	}

}


