
.sr-menu-con.fl-menu-mobile-clone {

	.fl-module-content  {
		margin: 0 !important;

		.fl-menu {

			padding: 25px 0;
					
			background-color: rgba(10,10,10,0.75);

			li {
				a {
					color: #fff;
					-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: #fff;
					font-weight: normal;
					padding: 15px;
					line-height: 1.2;
				}

			}

			a.fl-button {
				border: none;
			}

			
			
		}

	
	}

}
