@media (max-width: 1440px) {
  .fl-module-menu #menu-main-menu a {
    padding-left: 12px;
    padding-right: 12px; }
  .fl-module-menu #menu-main-menu a.fl-button {
    padding-left: 12px;
    padding-right: 12px; } }
