@import '../global/variables';

.pricing-column-wrapper {
	.pricing-column-con > .fl-node-content .fl-col-group {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	}

	.pricing-column-con:nth-child(1) {


		&:after {
			content: "";
		    background: url(../svg/dstripe/pris-stripe.svg) repeat scroll 0 0 transparent;
		    background-size: cover;
		    position: absolute;
		    height: 296px;
		    width: 320px !important;
		    max-width: 636px;
		    width: 100%;
		    top: 156px;
		    left: -70px;
		    z-index: unset;
		}
	}

	.pricing-column-con:nth-child(2) {
		&:after {
			content: "";
		    background: url(../svg/dstripe/pris-stripe.svg) repeat scroll 0 0 transparent;
		    background-size: cover;
		    position: absolute;
		    height: 254px;
		    max-width: 636px;
		    width: 100%;
		    bottom: -55px;
		    right: 225px;
		    z-index: unset;
		}
	}

	.pricing-column-con:nth-child(3) {
		&:after {

		}
	}

	.pricing-column-middle {
		position: inherit;
    	top: 0;
    	margin-top: -120px;
    	z-index: unset;
	}

	.pricing-column-con {
		z-index: unset;

		ul {
			 list-style-image: url('../images/list-style-icon.png');

			li {

				padding-bottom: 20px;

			}
		}
	}

}

.custom-made-wrapper {

	.custom-made-con {
		position: relative;
		&:after {
			content: "";
			background: url(#{$images_dir}/dstripe/dstripe-purple.png) no-repeat scroll 0 0 transparent;
			background-size: contain;
		    position: absolute;
		    height: 120px;
		    max-width: 456px;
		    width: 100%;
		    bottom: -40px;
		    left: -65px;
		}

	}
}

.btn-border-bottom {
	.fl-button-wrap{
	    border-bottom: 2px solid #000001;
	    width: max-content;
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 10px;
	}
}


.page-id-409  {
	.fl-row-content {
		position: relative;
	}

	.z-index-frnt {

		.fl-col {

		 position: unset;

		}
	}
}

@media (max-width: 1025px) and (min-width: 769px){
    .pricing-column-con{
        max-width: 60% !important;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
    }
   
    .pricing-column-wrapper .pricing-column-con:nth-child(1):after{
        height: 296px;
        width: 716px !important;
        max-width: 100%;
        width: 100%;
        top: 156px;
        left: -56px;
    }
    .page-id-409 .pricing-column-wrapper .pricing-column-con:nth-child(1):after{
        top: 217px !important;
        left: 140px !important;
    }
    .pricing-column-wrapper .pricing-column-con:nth-child(2):after{
        max-width: 716px;
        right: 150px !important;
    }
    .pricing-column-wrapper .pricing-column-middle{
        margin-top: 50px !important;
    }
}
@media (max-width: 768px) and (min-width: 426px) {
    .pricing-column-con{
        max-width: 60% !important;
        margin-left: 20%;
        margin-right: 20%;
    }
    .pricing-column-wrapper .pricing-column-con:nth-child(1):after{
        width: 100% !important;
        left: 0px;
    }
    .pricing-column-wrapper .pricing-column-con:nth-child(2):after{
        bottom: 0px;
        right: 70px !important;
    }
}
